<!DOCTYPE hmtl>
<html>
<head>
    <title> LoginApp</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">LoginApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">


          {{#if user}}
          <li class="nav-item active">
            <a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/users/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/blog">blog</a>
          </li>

          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/users/register">Register</a>
          </li>
          {{/if}}

            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
            {{#if success_msg}}
              <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}

            {{#if error_msg}}
              <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}

            {{#if error}}
              <div class="alert alert-danger">{{error}}</div>
            {{/if}}

            {{{body}}}
        </div>
      </div>

      <hr>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Login</h2>
            <p>If you would like to enter the site to look at all the doodads this is the place for you.</p>
            <p><a class="btn btn-secondary" href="/users/login" role="button">Login &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Register</h2>
            <p>If you want to be able to enter the site and look at all the thingy ma whats it's than this is where you need to go!</p>
            <p><a class="btn btn-secondary" href="/users/register" role="button">Register &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Get a free Red Bull</h2>
            <p>If somehow you ended up here and you are tired you might be interested in something tastey and refreshing you might possibly maybe sometime consider the button below.</p>
            <p><a class="btn btn-secondary" href="/anything" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; LoginApp 2017-2018</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
</body>
</html>
